<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DIRECTORY" value="./logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<!--        <encoder>-->
<!--            <pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>-->
<!--        </encoder>-->
        <encoder>
            <pattern>%date %highlight(%level) %yellow([%thread]) %cyan(%logger{10}) [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DIRECTORY}/logfile.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DIRECTORY}/%d{yyyy/MM/dd, aux}/logfile-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
             <maxFileSize>50MB</maxFileSize>
            <!-- <maxHistory>30</maxHistory>-->
            <!-- <totalSizeCap>10MB</totalSizeCap>-->
            <!-- <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>