<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<!--default footer-->
<footer th:fragment="default-footer">
    <span>Option One</span>
    <p sec:authorize="hasRole('ROLE_USER')">default footer : &copy; 2020 starter.com</p>
    <p sec:authorize="hasRole('ROLE_ADMIN')">default admin footer : &copy; 2020 Admin starter.com</p>
</footer>

<!--admin footer-->
<footer th:fragment="admin-footer">
    <p>admin footer : &copy; 2020 Admin starter.com</p>
</footer>

<!--user footer-->
<footer th:fragment="user-footer">
    <p>user footer : &copy; 2022 starter.com</p>
</footer>
</body>
</html>